.research-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .research-image {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    overflow: hidden;
    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
  }
  .research-meta {
    flex: 1;
    h2 {
      margin: 0;
      font-size: 28px;
      font-weight: normal;
    }
    h3 {
      color: $black;
      text-transform: uppercase;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
    h4 {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .research-content {
    text-transform: capitalize;
    margin-top: 20px;
    flex: 1 0 100%;
  }
}

.research-summary-large {
  background-color: $white-offset;
  padding: 30px;
  border-radius: 3px;
  .research-image {
    height: 90px;
    width: 90px;
    margin-right: 20px;
    overflow: hidden;
    img {
      width: 90px;
      height: 90px;
      object-fit: contain;
    }
  }
}