---
layout: default
bodyClass: page-team-list
---

<div class="container pt-4 pb-6">
    <div class="row">
        {% assign promoted_teams = site.team| where: "draft", false | sort: "weight" %}
        {% for team in promoted_teams  %}
        <div class="col-12">
            <div class="team team-summary team-summary-large">
                <div class="col-3">
                    <div class="row-3 | team-image">
                        <img alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                    </div>
                    <div class="row-3 | team-meta">
                        <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                        <p class="team-description">{{ team.jobtitle }}</p>
                    </div>
                    <div class="social-team">
                            {% if team.linkedinurl %}
                                <a href="{{ team.linkedinurl }}" target="blank"><img src="../images/social/linkedin-black.svg" alt="LinkedIn" /></a>
                            {% endif %}
                            {% if team.githuburl %}
                                <a href="{{ team.githuburl }}" target="blank"><img src="../images/social/github-black.svg" alt="GitHub" /></a>
                            {% endif %}
                            {% if team.googlescholarurl %}
                                <a href="{{ team.googlescholarurl }}" target="blank"><img src="../images/social/googlescholar-black.svg" alt="GoogleScholar" /></a>
                            {% endif %}
                            {% if team.twitterurl %}
                                <a href="{{ team.twitterurl }}" target="blank"><img src="../images/social/twitter-black.svg" alt="Twitter" /></a>
                            {% endif %}
                            {% if team.email %}
                                <a href="{{ team.email }}" target="blank"><img src="../images/social/email-black.svg" alt="Email" /></a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-9 |team-content">
                    {{ team.content }}
                    {% if team.personal-website %}
                        <a href="{{ team.personal-website }}" target="blank">Personal website</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
